extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let musicalid = toShow._id
    - let musical_type = toShow.instrument_type
    - let musicalbrand = toShow.brand
    - let musicalcost = toShow.cost
    - let actionid = "/resource/musicals/" + musicalid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='musicalAttr mr-3') musical ID is:
        div #{musicalid}
      div.row
        div(class='musicalAttr mr-3') Instrument Type is:
        div #{musical_type}
      div.row
        div(class='musicalAttr mr-3')  brand is:
        div #{musicalbrand}
      div.row
        div(class='musicalAttr mr-3')  Cost is:
        div #{musicalcost}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the musical collection
        window.location.href='/musicals'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.text(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/musicals'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
